.welcome-text {
    -fx-font-size: 28px;
}

.field-label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.custom-text-field,.custom-text-area, TextArea {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-font-size: 14px;
    -fx-padding: 12 16;
    -fx-wrap-text: true;
}

.custom-text-field:error {
    -fx-border-width: 1.5px;
}

.error-label {
    -fx-font-size: 12px;
    -fx-padding: 4 0 0 8;
}

.forgot-password-link {
    -fx-font-size: 13px;
    -fx-border-color: transparent;
    -fx-padding: 4 0;
}

.forgot-password-link {
    -fx-text-fill: #3498db;
    -fx-border-color: transparent;
}

.forgot-password-link:hover {
    -fx-underline: true;
}

.register-prompt {
    -fx-font-size: 14px;
}

.custom-text-field:error ,.error-label{
    -fx-border-color: #FF5D73;
}



