@import url("./common.css");
@import url("../layout/styleForm.css");
@import url("./styleDatepicker.css");

.welcome-text {
    -fx-text-fill: white;
}

.field-label {
    -fx-text-fill: rgba(255, 255, 255, 0.8);
}

.custom-text-field,.custom-text-area, TextArea {
    -fx-background-color: rgba(255, 255, 255, 0.07);
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
}

.custom-text-field:focused {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: #6C8DFF;
    -fx-effect: dropshadow(gaussian, rgba(108, 141, 255, 0.2), 10, 0, 0, 0);
}

.forgot-password-link:hover {
    -fx-text-fill: #2ecc71;
    -fx-underline: true;
}

.mordenLabel {
    -fx-text-fill: white;
}

.secundary-prompt {
    -fx-text-fill: rgba(255, 255, 255, 0.7);
}

.subtitle-text {
    -fx-text-fill: rgba(255, 255, 255, 0.7);
    -fx-font-size: 14px;
}

