@import url("../common.css");

.primary-button {
    -fx-background-color: linear-gradient(to right, #4A90E2, #50E3C2);
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(74, 144, 226, 0.4), 10, 0, 0, 4);
}

.primary-button:hover {
    -fx-background-color: linear-gradient(to right, derive(#4A90E2, 10%), derive(#50E3C2, 10%));
    -fx-effect: dropshadow(gaussian, rgba(74, 144, 226, 0.6), 14, 0, 0, 6);
}

.secundary-button {
   -fx-background-color: rgba(0, 0, 0, 0.08);
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}

.secundary-button .secundary-label {
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}

.secundary-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.12);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0, 0, 2);
}

.custom-checkbox {
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}

.custom-checkbox .box {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-border-color: rgba(0, 0, 0, 0.2);
    -fx-text-fill: rgba(0, 0, 0, 0.8);
}

.custom-checkbox:selected .box {
    -fx-background-color: #3498db;
    -fx-border-color: #3498db;
}

