@import url("../layout/styleAuthPage.css");

#mainPane {
    -fx-background-color: rgba(145, 143, 143, 0.164);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 20, 0, 0, 10);
}

#container{
    -fx-background-color: linear-gradient(to right top, #6896c4, #acacac);
}

.brand-section {
    -fx-background-color: rgba(255, 255, 255, 0.03);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

.logo-container {
    -fx-effect: dropshadow(gaussian, rgba(52, 152, 219, 0.3), 20, 0, 0, 5);
}

.platform-name {
    -fx-text-fill: linear-gradient(to right, #3498db, #2ecc71);
    -fx-effect: dropshadow(gaussian, rgba(52, 152, 219, 0.3), 10, 0, 0, 2);
}

.tagline {
    -fx-text-fill: rgba(0, 0, 0, 0.7);
}

.form-section {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}
